.file{
    color: var(--Color-3, #3F6188);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-family: Poppins;
font-size: 32px;
margin-left: 110px;
width: 1145px;
margin-top: 20px;
}