.teachers{
    color: var(--Color-3, #3F6188);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #003356;
font-family: Poppins;
font-size: 48px;
width: 432px;
height: 504px;
margin-left: 200px;
margin-top: 10px;
}
.owlnest{
    color: white;
}
.get{
    width: 300px;
height: 45px;
border-radius: 30px;
border: 1px solid #003356;
background: var(--Color-3, #3F6188);
color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #003356;
font-family: Poppins;
font-size: 20px;
margin-left: 250px;
}